* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 20px;
    background: white;
    font-size: 20px;
  }
  
   Header/Blog Title , .header es un selector de clase
  .header {
    padding: 30px;
    text-align: center;
    background: burlywood;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  }
  
  /* Right column , utilizada para color marker de freecodecamp el 14/01/2023*/
  .rightcolumn {
    float: left;
    width: 75%;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  
  /* Fake image 
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  */
  
  /* Add a card effect for articles */
  .card {
    background-color: yellowgreen;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
/*TEMAS 1.2 DE FREECODECAMP "café menu*/
h2, h1, legend, p {
  text-align: center;
}
.postres, .flavor {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
 /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; (si son iguales equivale a: )*/
  padding: 20px;
  max-width: 500px;
}
h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.established {
  font-style: italic;
}
h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}
  h2 {
    font-size: 30px;
  }
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
.bottom-line {
  margin-top: 25px;
}
footer {
  font-size: 14px;
}
a {
  color: green;
}
a:visited {
  color: black;
}
a:hover {
  color: brown;
}
a:active {
  color: brown;
}
.address {
  margin-bottom: 5px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
/* tema 1.3 de freecodecam: " Color Marker" */
.marker {
  width: 200px;
  height: 25px;


  
  margin:  10px auto;
}
.red {
  background: linear-gradient( rgb(122, 74, 14), rgb(245, 62, 113) , rgb(162, 27, 27));
  box-shadow: 0 0 20px 0  rgba(83, 14, 14, 0.8);
}

.green {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 0 0 20px 0 #3B7E20CC;
}
.blue {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  box-shadow: 0 0 20px 0 hsla( 223, 59%, 31%, 0.8);
}
.container {
  background-color: rgb(255, 255, 255);
padding: 10px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 50%);
  /*border-left-width: 10px;
  border-left-style: solid;
  border-left-color: black; la siguiente notacion resume */
  border-left: 10px double black;
  
}
.cap {
  width: 60px;
  height: 25px;
}
.cap, .sleeve {
  display: inline-block;
}
/* TEMA 1.4 FREECODECAMP:  abajo "REGISTRATION FORM"  17/01/23*/ 
.form {
  background-color: lightblue;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;

}
label {
   display: block;
   margin: 0.5rem 0;
}
  fieldset {
    border-bottom: 3px solid #3b3b4f;
    font-family: Tahoma;
  font-size: 16px;
    
  }

  input, textarea, select {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    min-height: 2em;
  }
  .inline {
    width: unset;
    margin-right: 0.5em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  input {
    background-color: whitesmoke;
    border: 1px solid grey;
    
  }
  input[type="submit"]  {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: aquamarine;
    border-color: #3b3b4f;
   }
   input[type="file"] {
    padding: 1px 2px;
  }
  a {
    color: #dfdfe2;
  }

/* TEMAS 2.1 DE FREECODECAMP: PINTURA DE ROTHKO 19/01/2023* abajo*/
.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  overflow: hidden;
  filter: blur(2px);
 
}

.frame {
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
  filter: blur(2px);
  
  
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #efb762;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px 3px #8f0401;
  border-radius: 8px 10px;
  transform: rotate(0.4deg);
}
.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}
.one, .two {
  filter: blur(1px);

}
/* TEMA 2.2 DE FREECODECAMP: CSS FLEXBOX 22/01/2023* abajo*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}


/*TEMA 2.3 DE FREECODECAMP: APRENDE TIPOGRAFIA CON UNA ETIQUETA NUTRICIONAL 23/01/2023* abajo*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px
}
p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.bold {
  font-weight: 800;
}
.large {
  height: 10px;
}
.large, .medium {
  background-color: black;
  border: 0;
}
.medium {
  height: 5px;
}
.small-text {
  font-size: 0.85rem;
}
.calories-info h2 {
  margin: 0;
}
.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}
.calories-info span {
  font-size: 2.4em;
  font-weight: 700;
  margin: -7px -2px;
}
.right {
  justify-content: flex-end;
}
.indent {
  margin-left: 1em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}
.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}
/* TEMA 2.4 DE FREECODECAMP: HTML/CSS Quiz 26/01/2023 abajo */
body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}
#logo {
  width: max(100px, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35/4;
  padding: 0.4rem;
}
/*
header {
  height: 50px;
  width: 100%;
  background-color: #1b1b32;
  display: flex;
   justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center;
}
*/
nav > ul {
justify-content: space-evenly;
display: flex;
flex-wrap: wrap;
align-items: center;
padding-inline-start: 0;
margin-block: 0;
height: 100%;
}
h1, h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  border-bottom: 4px solid #dfdfe2;
  margin-top: 0px;
  padding-top: 60px;
}
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0
}
/*p::before {
  content: "Question #";
}*/
nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}
li > a {
  color:  inherit ;
  text-decoration: none;
}
nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}
main {
  background-color: #f1b1ee;
  padding-top: 25px;
}
section {
  width: 80%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}
.info {
  padding: 10px 0 0 5px;
}
.formrow {
  margin: 5px 0 0 0;
  padding: 0 5px 0 5px;
}
input {
  font-size: 17px;
}
.info > input {
  width: 50%;
  text-align: left;
 
}
.info > label {
  width: 10%;
  min-width: 55px;
 
}
.info label, .info input {
  display: inline-block;
  text-align: right;
}
.question-block {
  text-align: left;
display: block;
width: 100%;
margin-top: 20px;
padding-top: 5px;
}
p {
  margin-top: 5px;
padding-left: 15px;
font-size: 20px;
}
.question {
  border: none;
  padding-bottom: 0;
}
.answers-list {
  list-style: none;
  padding: 0;
}
button {
  display: block;
margin: 40px auto;
width: 40%;
padding: 15px;
font-size: 23px;
background: #d0d0d5;
border: 3px solid #3b3b4f;
}
footer {
  background: #2a2a40;
  justify-content: center;
  display: flex;
}
footer, footer a {
  color: #dfdfe2;
}
address {
  text-align: center;
  padding: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  * {
  scroll-behavior: smooth;
}
}
/*TEMA 3.1 DE FREECODECAMP: PSEUDO SELECTORES "BALANCE FINANCIERO" 02/02/23*/
span[class~="sr-only"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #0a0a23;
}

h1 {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

h1 .flex span:first-of-type {
  font-size: 0.7em;
}

h1 .flex span:last-of-type {
  font-size: 1.2em;
}

section {
  max-width: 40rem;
  margin: 0 auto;
  border: 2px solid #d0d0d5;
}

#years {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background: #0a0a23;
  color: #fff;
  z-index: 999;
  padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  margin: 0 -2px;
}

#years span[class] {
  font-weight: bold;
  width: 4.5rem;
  text-align: right;
}

.table-wrap {
  padding: 0 0.75rem 1.5rem 0.75rem;
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}

tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
}

tbody th {
  width: calc(100% - 12rem);
}

tr[class="total"] {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}

tr[class="total"] th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

tr.total td {
  text-align: right;
  padding: 0 0.25rem;
}

tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}

tr.total:hover {
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

tr.data {
  background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

tr.data td {
  vertical-align: top;
  padding: 0.3rem 0.25rem 0;
  text-align: right;
}

tr.data td:last-of-type {
  padding-right: 0.5rem;
}

/*TEMA 3.2: APRENDE CSS INTERMEDIO CONSTRUYENDO UNA PINTURA DE PICASSO 06/02/23*/

body {
  background-color: rgb(184, 132, 46);
}

#back-wall {
  background-color: #8B4513;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#offwhite-character {
  width: 300px;
  height: 550px;
  background-color: GhostWhite;
  position: absolute;
  top: 20%;
  left: 17.5%;
}

#white-hat {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 140px 180px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: GhostWhite;
  border-left-color: transparent;
  position: absolute;
  top: -140px;
  left: 0;
}

#black-mask {
  width: 100%;
  height: 50px;
  background-color: rgb(45, 31, 19);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gray-instrument {
  width: 15%;
  height: 40%;
  background-color: rgb(167, 162, 117);
  position: absolute;
  top: 50px;
  left: 125px;
  z-index: 1;
}

.black-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(45, 31, 19);
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 65%;
}

#tan-table {
  width: 450px;
  height: 140px;
  background-color: #D2691E;
  position: absolute;
  top: 275px;
  left: 15px;
  z-index: 1;
}

#black-character {
  width: 300px;
  height: 500px;
  background-color: rgb(45, 31, 19);
  position: absolute;
  top: 30%;
  left: 59%;
}

#black-hat {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 0 300px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: rgb(45, 31, 19);
  position: absolute;
  top: -150px;
  left: 0;
}

#gray-mask {
  width: 150px;
  height: 150px;
  background-color: rgb(167, 162, 117);
  position: absolute;
  top: -10px;
  left: 70px;
}

#white-paper {
  width: 400px;
  height: 100px;
  background-color: GhostWhite;
  position: absolute;
  top: 250px;
  left: -150px;
  z-index: 1;
}

.fa-music {
  display: inline-block;
  margin-top: 8%;
  margin-left: 13%;
}

.blue {
  background-color: #1E90FF;
}

#blue-left {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 20%;
}

#blue-right {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
}

#orange-character {
  width: 250px;
  height: 550px;
  background-color: rgb(240, 78, 42);
  position: absolute;
  top: 25%;
  left: 40%;
}

#black-round-hat {
  width: 180px;
  height: 150px;
  background-color: rgb(45, 31, 19);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 5px;
  z-index: -1;
}

#eyes-div {
  width: 180px;
  height: 50px;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: 3;
}

#triangles {
  width: 250px;
  height: 550px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 42px 45px 45px 0;
  border-top-color: transparent;
  border-right-color: Gold; /* yellow */
  border-bottom-color: transparent;
  border-left-color: transparent;
  display: inline-block;
}

#guitar {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 0px;
  z-index: 3;
}

.guitar {
  width: 150px;
  height: 120px;
  background-color: Goldenrod;
  border-radius: 50%;
}

#guitar-left {
  position: absolute;
  left: 0px;
}

#guitar-right {
  position: absolute;
  left: 100px;
}

.fa-bars {
  display: block;
  margin-top: 30%;
  margin-left: 40%;
}

#guitar-neck {
  width: 200px;
  height: 30px;
  background-color: #D2691E;
  position: absolute;
  top: 45px;
  left: 200px;
  z-index: 3;
}

.eyes {
  width: 35px;
  height: 20px;
  background-color: #8B4513;
  border-radius: 20px 50%;
}

.right {
  position: absolute;
  top: 15px;
  right: 30px;
}

.left {
  position: absolute;
  top: 15px;
  left: 30px;
}

.fas {
  font-size: 30px;
}

/*TEMA 3.3 DE FREECODECAMP: APRENDE DISEÑO WEB ADAPTATIVO CONSTRUYENDO UN PIANO. 07/02/2023*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#piano {
  background-color: #00471b;
  width: 992px;
  height: 290px;
  margin: 80px auto;
  padding: 90px 20px 0 20px;
  position: relative;
  border-radius: 10px;
}

.keys {
  background-color: #040404;
  width: 949px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  float: left;
  border-radius: 0 0 3px 3px;
}

.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
}

.logo {
  width: 200px;
  position: absolute;
  top: 23px;
}

@media (max-width: 768px) {
  #piano {
    width: 358px;
  }

  .keys {
    width: 318px;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
#piano {
  width: 675px;
}
.keys {
  width: 633px;
}
}
